<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JCLC9027/blob/main/Actividad_2_Python_for_Data_Science_(IBM_Modulo_4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()
# Maestria: Inteligencia artificial aplicada (MNA)
# Materia:Ciencia Y Analtica de Datos 
# Alumno: Juan Carlos Lpez Cruz.
# Matricula: A01793052
# Profesor Titular:Jobish Vallikavungal Devassia
# Profesor Tutor: Victoria Guerrero Orozco
# Semana 2 - Actividad 1: Python for Data Science (IBM)

![curso IBM.jpg]()

# **Module 4 - Working with Data in Python**

In [10]:
#Program to dowload Program Example 1
## Uncomment these if working locally, else let the following code cell run.

import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

## Download Example file
!wget -O /resources/data/Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

/resources/data/Example1.txt: No such file or directory

Reading Text Files

In [11]:
# Read the Example1.txt
example1 = "Example1.txt"
file1 = open(example1, "r")

In [12]:
# Print the path of file

file1.name

'Example1.txt'

In [13]:
# Print the mode of file, either 'r' or 'w'

file1.mode

'r'

In [14]:
# Read the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [15]:
# Print the file with '\n' as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

In [16]:
# Type of file content

type(FileContent)

str

In [17]:
# Close file after finish

file1.close()

**A Better Way to Open a File**

Using the with statement is better practice, it automatically closes the file even if the code encounters an exception. The code will run everything in the indent block then close the file object.

In [18]:
# Open file using with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [19]:
# Verify if the file is closed

file1.closed

True

In [20]:
# See the content of file

print(FileContent)

This is line 1
This is line 2
This is line 3

In [21]:
# Read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

This

In [22]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [23]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [24]:
# Read one line

with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [25]:
with open(example1, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read(20)) # Returns the next 20 chars

This is line 1

This is line 2
This

In [26]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [27]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [28]:
# Print the first line

FileasList[0]

'This is line 1 \n'

In [29]:
# Print the third line

FileasList[2]

'This is line 3'

Write and Save Files in Python

Writing Files

In [30]:
# Write line to file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [31]:
# Read file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [32]:
# Write lines to file

with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [33]:
# Check whether write to file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [102]:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [103]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [36]:
# Verify if writing to file is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [37]:
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

Appending Files

In [38]:
# Write a new line to text file

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [39]:
# Verify if the new line is in the text file

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E

Additional modes
It's fairly ineffecient to open the file in a or w and then reopening it in r to read any lines. Luckily we can access the file in the following modes:

r+ : Reading and writing. Cannot truncate the file.
w+ : Writing and reading. Truncates the file.
a+ : Appending and Reading. Creates a new file, if none exists.
You dont have to dwell on the specifics of each mode for this lab.

Let's try out the a+ mode:

In [40]:
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

In [41]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 70
Read nothing

New Location : 0
Overwrite
This is line C
This is line D
This is line E
This is line E

Location after read: 70

In [42]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 70
Read nothing

New Location : 0
Overwrite
This is line C
This is line D
This is line E
This is line E

Location after read: 70

Copy a File

In [43]:
# Copy file to another

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [44]:
# Verify if the copy is successfully executed

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E
This is line E

Exercise 
Your local university's Raptors fan club maintains a register of its active members on a .txt document. Every month they update the file by removing the members who are not active. You have been tasked with automating this with your Python skills.
Given the file currentMem, Remove each member with a 'no' in their Active column. Keep track of each of the removed members and append them to the exMem file. Make sure that the format of the original files in preserved. (Hint: Do this by reading/writing whole lines and ensuring the header remains )
Run the code block below prior to starting the exercise. The skeleton code has been provided for you. Edit only the cleanFiles function.

In [45]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [46]:
def cleanFiles(currentMem,exMem):
    # TODO: Open the currentMem file as in r+ mode
    with open(currentMem,'r+') as writeFile: 
        #TODO: Open the exMem file in a+ mode
        with open(exMem,'a+') as appendFile:
            #get the data
            writeFile.seek(0)
            members = writeFile.readlines()
            #remove header
            header = members[0]
            members.pop(0)
                
            inactive = [member for member in members if ('no' in member)]
            '''
            The above is the same as 

            for member in members:
            if 'no' in member:
                inactive.append(member)
            '''
            #go to the beginning of the write file
            writeFile.seek(0) #TODO: Read each member in the currentMem (1 member per row) file into a list.
            writeFile.write(header) # Hint: Recall that the first line in the file is the header.
             # TODO: Iterate through the members list. 
            for member in members:
                # If a member is inactive, add them to exMem, otherwise write them into currentMem
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()
                
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)

# code to help you see the files

headers = "Membership No  Date Joined  Active  \n"

with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    95854      2019-5-12    yes
    80570      2020-4-24    yes
    11157      2017-11-24   yes
    32357      2019-11-24   yes
    60536      2019-5-4     yes
    65086      2017-2-11    yes
    46262      2016-2-16    yes
    32586      2018-1-21    yes
    18670      2020-10-24   yes
    81618      2020-1-18    yes

Inactive Members:


Membership No  Date Joined  Active
    75434      2020-11-17   no
    30588      2017-7-10    no
    26307      2019-11-20   no
    79716      2017-5-13    no
    42181      2019-5-18    no
    57315      2020-9-16    no
    14211      2016-11-11   no
    99478      2018-3-6     no
    39363      2019-10-7    no
    48249      2019-5-22    no
    79508      2015-6-1     no
    92767      2016-2-4     no
    87023      2020-7-12    no

In [47]:
def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Test Passed

Loading Data with Pandas


QUESTION 1

1 point possible (ungraded)
Consider the dataframe df. How would you find the element in the second row and first column?

df.ix[1,0] or df.iloc[1,0]

In [54]:
#QUESTION 2 1 point possible (ungraded) Will the following code run?

import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

Working with and Saving Data with Pandas (External resource)

In [59]:
#QUESTION 1
#Consider the dataframe: 
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

#What type does the following return: 
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

QUESTION 2

What task does the following method perform: df.to_csv("file.csv")?

-Save a dataframe to a csv file.

Introduction of Pandas

In [65]:
# Import required library

import pandas as pd
csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [67]:
# Access to the column Length

x = df[['Length']]
x

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

In [68]:
# Get the column as a series

x = df['Length']
x

0    0:42:19
1    0:42:11
2    0:42:49
3    0:57:44
4    0:46:33
5    0:43:08
6    1:15:54
7    0:40:01
Name: Length, dtype: object

In [69]:
# Get the column as a dataframe

x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [70]:
# Access to multiple columns

y = df[['Artist','Length','Genre']]
y

            Artist   Length                        Genre
0  Michael Jackson  0:42:19               pop, rock, R&B
1            AC/DC  0:42:11                    hard rock
2       Pink Floyd  0:42:49             progressive rock
3  Whitney Houston  0:57:44               R&B, soul, pop
4        Meat Loaf  0:46:33  hard rock, progressive rock
5           Eagles  0:43:08   rock, soft rock, folk rock
6         Bee Gees  1:15:54                        disco
7    Fleetwood Mac  0:40:01                    soft rock

One way to access unique elements is the iloc method, where you can access the 1st row and the 1st column as follows:

In [71]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Michael Jackson'

In [72]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Michael Jackson'

In [73]:
# Access the value on the first row and the third column

df.iloc[0,2]

1982

In [74]:
# Access the value on the second row and the third column
df.iloc[1,2]

1980

In [77]:
# Access the value on the second row and the third column
df.iloc[1,2]

1980

In [78]:
# Access the column using the name

df.loc[1, 'Artist']

'AC/DC'

In [75]:
# Access the column using the name

df.loc[0, 'Released']

1982

In [76]:
# Access the column using the name

df.loc[1, 'Released']

1980

In [79]:
# Slicing the dataframe

df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [80]:
# Slicing the dataframe using name

df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

Quiz on DataFrame

In [83]:
#Use a variable q to store the column Rating as a dataframe
# Write your code below and press Shift+Enter to execute
q= df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [86]:
#Access the 2nd row and the 3rd column of df:
df.iloc[1,2]

1980

In [88]:
#Use the following list to convert the dataframe index df to characters and assign it to df_new; find the element corresponding to the row index a and column 'Artist'. Then select the rows a through d for the column 'Artist'
new_index=['a','b','c','d','e','f','g','h']
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

In [ ]:
4.3 Get to Know a Pandas Array

In [93]:
#You will use the dataframe df for the following:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [92]:
#1.Display the first three rows:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [95]:
#2.Obtain column  'a' :
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

4.4 Get to Know a Pandas Array

In [96]:
#You will use the dataframe df for the following:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [97]:
#1.Find the unique values in column  'a' :
df['a'].unique()

array([1, 2])

In [98]:
#2.Return a dataframe with only the rows where column  a  is less than two:
df[df['a']<2]

   a  b
0  1  1
2  1  1

Review Questions

In [99]:
#Question 1
#What do the following lines of code do?
with open("Example1.txt","r") as file1:

  FileContent=file1.readlines()

  print(FileContent)

['This is line 1 \n', 'This is line 2\n', 'This is line 3']

In [100]:
#Question 2
#What do the following lines of code do?
with open("Example2.txt","w") as writefile:

  writefile.write("This is line A\n")

  writefile.write("This is line B\n")

In [104]:
#Question 3
#What do the following lines of code do?
with open("Example3.txt","a") as file1:

  file1.write("This is line C\n")

In [105]:
#Question 4
#What is the result of applying the following method df.head() to the dataframe "df"?
#Prints the first 5 rows of the dataframe.

# Progreso  del curso

![image.png]()